#dim{ width:100%; height:100%; background:#000; opacity:0.7; position:fixed; left:0; top:0; display:none; }

/* 버튼공통 */
.buttonRightWrap{ text-align:right !important; }
.buttonLeftWrap{ text-align:left !important; }
.buttonCenterWrap{ text-align:center !important; }

.btn_Gray{ display:inline-block; font-size:18px; color:#fff; background:#666; padding:17px 86px; margin-right:7px; }
.btn_Gray01{ display:inline-block; font-size:16px; color:#fff; background:#acacac; padding:13px 20px; margin-left:7px; vertical-align:middle; }
.btn_Gray02{ display:inline-block; font-size:16px; color:#fff; background:#666; padding:17px 44px; }
.btn_Gray03{ display:inline-block; font-size:16px; color:#fff; background:#666; padding:17px 67px; vertical-align:middle; }
.btn_Blue{ display:inline-block; font-size:18px; color:#fff; background:#38549d; padding:17px 86px; }
.btn_Blue01{ display:inline-block; font-size:16px; color:#fff; background:#38549d; padding:17px 44px; }
.btn_Blue02{ display:inline-block; font-size:16px; color:#fff; background:#38549d; padding:13px 20px; vertical-align:middle; }
.btn_Blue03{ display:inline-block; font-size:16px; color:#fff; background:#38549d; padding:17px 67px; vertical-align:middle; }


/* background_공통 */
.bgNone{background:none !important;}

/* padding_공통 */
.pt_0{padding-top:0 !important;}
.pt_5{padding-top:5px !important;}
.pt_10{padding-top:10px !important;}
.pt_15{padding-top:15px !important;}
.pt_20{padding-top:20px !important;}
.pt_25{padding-top:25px !important;}
.pt_30{padding-top:30px !important;}
.pt_35{padding-top:35px !important;}
.pt_40{padding-top:40px !important;}
.pt_45{padding-top:45px !important;}
.pt_50{padding-top:50px !important;}

.pb_0{padding-bottom:0 !important;}
.pb_5{padding-bottom:5px !important;}
.pb_10{padding-bottom:10px !important;}
.pb_15{padding-bottom:15px !important;}
.pb_20{padding-bottom:20px !important;}
.pb_25{padding-bottom:25px !important;}
.pb_30{padding-bottom:30px !important;}
.pb_35{padding-bottom:35px !important;}
.pb_40{padding-bottom:40px !important;}
.pb_45{padding-bottom:45px !important;}
.pb_50{padding-bottom:50px !important;}

.pr_0{padding-right:0 !important;}
.pr_5{padding-right:5px !important;}
.pr_10{padding-right:10px !important;}
.pr_15{padding-right:15px !important;}
.pr_20{padding-right:20px !important;}
.pr_25{padding-right:25px !important;}
.pr_30{padding-right:30px !important;}
.pr_35{padding-right:35px !important;}
.pr_40{padding-right:40px !important;}
.pr_45{padding-right:45px !important;}
.pr_50{padding-right:50px !important;}

.pl_0{padding-left:0 !important;}
.pl_5{padding-left:5px !important;}
.pl_10{padding-left:10px !important;}
.pl_15{padding-left:15px !important;}
.pl_20{padding-left:20px !important;}
.pl_25{padding-left:25px !important;}
.pl_30{padding-left:30px !important;}
.pl_35{padding-left:35px !important;}
.pl_40{padding-left:40px !important;}
.pl_45{padding-left:45px !important;}
.pl_50{padding-left:50px !important;}

/* margin_공통 */
.mt_0{margin-top:0 !important;}
.mt_5{margin-top:5px !important;}
.mt_10{margin-top:10px !important;}
.mt_15{margin-top:15px !important;}
.mt_20{margin-top:20px !important;}
.mt_25{margin-top:25px !important;}
.mt_30{margin-top:30px !important;}
.mt_35{margin-top:35px !important;}
.mt_40{margin-top:40px !important;}
.mt_45{margin-top:45px !important;}
.mt_50{margin-top:50px !important;}

.mb_0{margin-bottom:0 !important;}
.mb_5{margin-bottom:5px !important;}
.mb_10{margin-bottom:10px !important;}
.mb_15{margin-bottom:15px !important;}
.mb_20{margin-bottom:20px !important;}
.mb_25{margin-bottom:25px !important;}
.mb_30{margin-bottom:30px !important;}
.mb_35{margin-bottom:35px !important;}
.mb_40{margin-bottom:40px !important;}
.mb_45{margin-bottom:45px !important;}
.mb_50{margin-bottom:50px !important;}

.mr_0{margin-right:0 !important;}
.mr_5{margin-right:5px !important;}
.mr_10{margin-right:10px !important;}
.mr_15{margin-right:15px !important;}
.mr_20{margin-right:20px !important;}
.mr_25{margin-right:25px !important;}
.mr_30{margin-right:30px !important;}
.mr_35{margin-right:35px !important;}
.mr_40{margin-right:40px !important;}
.mr_45{margin-right:45px !important;}
.mr_50{margin-right:50px !important;}

.ml_0{margin-left:0 !important;}
.ml_5{margin-left:5px !important;}
.ml_10{margin-left:10px !important;}
.ml_15{margin-left:15px !important;}
.ml_20{margin-left:20px !important;}
.ml_25{margin-left:25px !important;}
.ml_30{margin-left:30px !important;}
.ml_35{margin-left:35px !important;}
.ml_40{margin-left:40px !important;}
.ml_45{margin-left:45px !important;}
.ml_50{margin-left:50px !important;}