#findIDPW-Wrap{ width:924px; padding:50px; }
#findIDPW-Wrap h1{ font-size:26px; color:#000; margin-bottom:13px; }
#findIDPW-Wrap p{ font-size:15px; color:#333; border-bottom:2px solid #191919; padding-bottom:19px; }
.findIDPW-Wrap__Inner{ margin-top:120px; }
.findIDPW-Wrap__Inner:after{ content:''; display:block; clear:both; }
.findIDPW-Wrap__Inner__ID{ width:425px; float:left; }
.findIDPW-Wrap__Inner__PW{ width:425px; float:left; margin-left:74px; }
.findIDPW-Wrap__Inner h2{ font-size:18px; color:#191919; background:url('../img/sub/common/bg_titleTop.gif') left top no-repeat; padding-top:17px; }
.findIDPW-Wrap__Inner-InputWrap{ margin:30px 0; }
.findIDPW-Wrap__Inner-InputWrap div{ margin:10px 0; }
.findIDPW-Wrap__Inner-InputWrap div label{ font-size:15px; color:#010101; width:58px; display:inline-block; font-weight:bold; }
.findIDPW-Wrap__Inner-InputWrap div input[type="text"]{ width:344px; background:#f1f1f1; border:none; font-size:15px; color:#bbb; padding:15px 0 15px 20px; }

#newRegistration-Wrap{ width:924px; padding:50px; }
#newRegistration-Wrap h1{ font-size:26px; color:#000; margin-bottom:13px; }
#newRegistration-Wrap p{ font-size:15px; color:#333; border-bottom:2px solid #191919; padding-bottom:19px; }
.newRegistration-Wrap__Inner{ margin:20px 0; }
.newRegistration-Wrap__Inner div{ margin-top:20px; }
.newRegistration-Wrap__Inner div label{ font-size:15px; color:#010101; display:inline-block; font-weight:bold; }
.newRegistration-Wrap__Inner div label.textLabel{ width:58px; }
.newRegistration-Wrap__Inner div span.between-txt{ font-size:15px; color:#010101; margin:0 10px; font-weight:bold; }
.newRegistration-Wrap__Inner div input[type="text"]{ background:#f1f1f1; border:none; font-size:15px; color:#bbb; padding:13px 0 12px 20px; }
.newRegistration-Wrap__Inner div input[type="text"].type01{ width:344px; }
.newRegistration-Wrap__Inner div input[type="text"].type02{ width:205px; }
.newRegistration-Wrap__Inner div input[type="text"].type03{ width:91.5%; }
.newRegistration-Wrap__Inner div select{ color:#aaa; margin-left:10px; }
.newRegistration-Wrap__Inner div textarea{ width:94.5%; border:none; background:#f1f1f1; margin-left:3px; padding:15px 23px; }
.newRegistration-Wrap__Inner div.prettycheckbox{ margin:0 0 10px; }

/* 커스텀셀렉트박스 */
span.customSelect { margin-left:10px; font-size:16px; background:url("../img/sub/common/btn_customSelect.gif") no-repeat scroll right center #fff; border:2px solid #ccc; color:#aaa; padding:11px 0 15px 20px; text-indent: 0; width: 20%; }
span.customSelectOpen{ background:url("../img/sub/common/btn_customSelect-open.gif") no-repeat scroll right center #fff; }
span.customSelectInner{ font-size:15px; color:#aaa; }

#counselingInfo-Wrap{ width:924px; padding:50px; }
#counselingInfo-Wrap h1{ font-size:26px; color:#000; margin-bottom:13px; }
#counselingInfo-Wrap p{ font-size:15px; color:#333; border-bottom:2px solid #191919; padding-bottom:19px; }
.counselingInfo-Wrap__Inner{ margin:20px 0; }
.counselingInfo-Wrap__Inner div{ margin-top:20px; }
.counselingInfo-Wrap__Inner div label{ font-size:15px; color:#010101; display:inline-block; font-weight:bold; }
.counselingInfo-Wrap__Inner div label.textLabel{ width:110px; }
.counselingInfo-Wrap__Inner div span.between-txt{ font-size:15px; color:#010101; margin:0 10px; font-weight:bold; }
.counselingInfo-Wrap__Inner div span.summary{ display:block; font-size:13px; color:#999; padding-top:10px; margin-left:130px; }
.counselingInfo-Wrap__Inner div input[type="text"],.counselingInfo-Wrap__Inner div input[type="password"]{ background:#f1f1f1; border:none; font-size:15px; color:#bbb; padding:13px 0 12px 20px; }
.counselingInfo-Wrap__Inner div input[type="text"].type01,.counselingInfo-Wrap__Inner div input[type="password"].type01{ width:307px; }
.counselingInfo-Wrap__Inner div input[type="text"].type02{ width:205px; }
.counselingInfo-Wrap__Inner div input[type="text"].type03{ width:91.5%; }
.counselingInfo-Wrap__Inner div select{ color:#aaa; margin-left:10px; }
.counselingInfo-Wrap__Inner .buttonRightWrap{ border-top:2px solid #acacac; padding-top:20px; }

#client_ragistration_completeWrap{ width:1024px; height:289px; background:url('../img/sub/bg_client_registration_complete.jpg') left top no-repeat; text-align:center; padding-top:479px; }
#client_ragistration_completeWrap a{ width:213px; display:inline-block; font-size:28px; color:#fff; font-weight:bold; border:3px solid #fff; text-align:center; padding:21px 0 20px; border-radius:10px; }
#client_ragistration_completeWrap a:first-child{ margin-right:21px; }

#part-concept-Wrap{ width:1024px; height:768px; }
.part-tab-wrap{ padding:0 50px; }
.part-tab-wrap ul:after{ content:''; display:block; clear:both; }
.part-tab-wrap ul li{ float:left; margin-right:10px; }
.part-tab-wrap ul li a{ display:block; border-bottom:2px solid #acacac; font-size:19px; color:#acacac; padding:18px 20px 5px 5px; text-decoration:none; }
.part-tab-wrap ul li a:hover, .part-tab-wrap ul li a.on{ background:#f23636; border-bottom:2px solid #f23636; color:#fff; }
.part-tab-wrap ul li a span{ display:block; }
.part-tab-wrap ul li a span.tabTitle{ font-size:14px; padding-top:6px; }
.part-tab-wrap__title-wrap{ margin-top:55px; position:relative; }
.part-tab-wrap__title-wrap h1{ font-size:26px; color:#000; }
.part-tab-wrap__title-wrap p{ font-size:15px; color:#333; padding-top:10px; }
.part-tab-wrap__title-wrap .buttonWrap{ position:absolute; right:20px; top:10px; }
.part-tab-wrap__title-wrap .buttonWrap a{ display:inline-block; margin:0 20px; }
.part-tab-wrap__title-wrap .buttonWrap span{ width:3px; height:27px; display:inline-block; background:url('../img/sub/common/ico_blackBar.gif') left center no-repeat; vertical-align:middle; }

.part-container-wrap{ margin-top:19px; }
.part-container-wrap ul:after{ content:''; display:block; clear:both; }
.part-container-wrap ul li{ float:left; margin-top:5px; margin-right: 5px; position:relative; }
.part-container-wrap ul li.mar-rightNone{ margin-right:0; }
.part-container-wrap ul li a{ display:inline-block; text-decoration:none; }
.part-container-wrap ul li div.check-hover{ display:none; position:absolute; left:0; top:0; }

.part-container-wrap__sumnailImg-wrap{ margin-top:15px; position:relative; }
.part-container-wrap__sumnailImg-wrap ul:after{ content:''; display:block; clear:both; }
.part-container-wrap__sumnailImg-wrap ul li{ float:left; }
.part-container-wrap__sumnailImg-wrap ul li a{ display:inline-block; }


.part-container-wrap__sumnailImg-wrap__link {width: 62px; float: left; text-align: center;}
.part-container-wrap__sumnailImg-wrap__rolling_area {width: 865px; float: left; overflow: hidden;}
.part-container-wrap__sumnailImg-wrap__rolling_area__roll_wraper {width: 10000px; position: relative;}


.part-container-wrap ul.part-container-wrap__conceptResult li{ background:#eee; width:200px; height:567px; text-align:center; margin-top:0; }
.part-container-wrap ul.part-container-wrap__conceptResult li h2{ padding:30px 0 20px; text-align:center; background:url('../img/sub/common/bg_titleBottom.gif') center bottom no-repeat; font-size:28px; color:#333; }
.part-container-wrap ul.part-container-wrap__conceptResult li p{ height:130px; padding:18px 18px 0 18px; font-size:14px; color:#333; line-height:22px; text-align:left; }
.part-container-wrap ul.part-container-wrap__conceptResult li a{ display:inline-block; margin-top:10px; }
.part-container-wrap ul.part-container-wrap__conceptResult li div.non-select{ display:block; position:absolute; left:0; top:0; }

ul.colorSelectConfirm-Inner{ margin:0 50px; }
.colorPicker-wrap{ position:relative; }
.colorPicker-Inner01{ margin-bottom:3px; }
.colorPicker-Inner span{ width:163px; display:inline-block; font-size:14px; font-weight:bold; color:#333; padding:18px 0 18px 23px; vertical-align:middle; }
.colorPicker-Inner span.colorPicker01{ background:rgb(193,176,167) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.colorPicker-Inner span.colorPicker02{ background:rgb(229,218,209) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.colorPicker-Inner span.colorPicker03{ background:rgb(114,136,156) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.colorPicker-Inner span.colorPicker04{ background:rgb(174,188,197) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.colorPicker-Inner span.colorPicker05{ background:rgb(149,145,139) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.colorPicker-Inner span.colorPicker06{ background:rgb(223,220,216) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
a.btnUp{ position:absolute; right:0; top:0; }
a.btnDown{ position:absolute; right:0; bottom:0; }
.part-container-wrap .buttonRightWrap{ margin:27px 50px 0 0; }

.part-tab-wrap__title-wrap .buttonWrap a.part04-tabButton{ width:123px; text-align:center; color:#666; font-size:16px; font-weight:bold; padding:12px 0; border:3px solid #666; border-radius:10px; margin:0 5px; }
.part-tab-wrap__title-wrap .buttonWrap a.part04-tabButton:hover, .part-tab-wrap__title-wrap .buttonWrap a.part04-tabButton.on{ color:#38549d; border:3px solid #38549d; text-decoration:none; }
.part04-container-Inner{ margin:0 50px; }
.part04-container-Inner:after{ content:''; display:block; clear:both; }
.part04-container-Inner__ImgBox{ width:612px; border:2px solid #ccc; float:left; }
.part04-container-inner__contentBox{ width:298px; margin-left:10px; float:left; }
.part04-container-inner__contentBox .buttonCenterWrap{ margin-top:30px; }
.part04-container-inner__contentBox .buttonCenterWrap a{ text-decoration:none; }
.part04-container-inner__contentBox .buttonCenterWrap .btn_Gray01{ margin-left:0; margin-right:7px; }
.part04-container-inner__contentBox__takeAreaWrap{ height:440px; }
.part04-container-inner__contentBox__takeArea-title{ margin-bottom:2px; }
.part04-container-inner__contentBox__takeArea-title span{ display:inline-block; font-size:16px; color:#fff; font-weight:bold; text-align:center; padding:14px 0; }
.part04-container-inner__contentBox__takeArea-title span.part04-container-inner__contentBox__takeArea-title-left{ width:110px; background:#acacac; }
.part04-container-inner__contentBox__takeArea-title span.part04-container-inner__contentBox__takeArea-title-right{ width:188px; background:#858585; }
.part04-container-inner__contentBox__takeArea-content{ margin-bottom:2px; }
.part04-container-inner__contentBox__takeArea-content:after{ content:''; display:block; clear:both; }
.part04-container-inner__contentBox__takeArea-content-title{ float:left; width:110px; background:#acacac; font-size:16px; color:#fff; font-weight:bold; text-align:center; padding:10px 0; }
.part04-container-inner__contentBox__takeArea-content-numbering{ background:#eee; text-align:left; float:left; padding-left:20px; }
.part04-container-inner__contentBox__takeArea-content-numbering span{ font-size:16px; color:#666; padding:0 20px; }
.part04-delButton{ padding-left:24px; display:inline-block; }
.part04-container-inner__contentBox__takeArea-addArea{ border:2px solid #ccc; padding:13px 0 13px 20px; font-size:16px; color:#aaa; position:relative; }
.part04-container-inner__contentBox__takeArea-addArea .btn-add{ position:absolute; right:10px; top:10px; display:block;  }

.paintingColorSelectWrap{ margin:0 50px; }
.paintingColorSelectWrap:after{ content:''; display:block; clear:both; }
ul.paintingColorSelectWrap__tabBtn{ float:left; }
ul.paintingColorSelectWrap__tabBtn li{ float:none; margin-left:0; }
ul.paintingColorSelectWrap__tabBtn li a{ display:block; font-size:16px; color:#fff; text-align:center; background:#acacac; padding:15px 46px; }
ul.paintingColorSelectWrap__tabBtn li a.on, ul.paintingColorSelectWrap__tabBtn li a:hover{ background:#f23636; }
.paintingColorSelectWrap__slideImg{ float:left; position:relative; width:794px; overflow:hidden; }
.paintingColorSelectWrap__slideImg ul{ width:10000px; position: relative;}
.paintingColorSelectWrap__slideImg ul:last-child{ margin-right:0; }
a.btn_part05_slidePrev{ display:block; position:absolute; left:0; top:205px; }
a.btn_part05_slideNext{ display:block; position:absolute; right:0; top:205px; }

/* 레이어팝업 */
#layerSpecific{ display:none; width:824px; height:568px; background:#fff; position:absolute; left:50%; top:50%; z-index:10; padding:50px 50px 40px 50px; margin:-329px 0 0 -462px; }
.layerSpecific-Inner{ position:relative; }
.layerSpecific-Inner h1{ font-size:30px; color:#000; text-align:center; background:url('../img/sub/common/bg_titleBottom.gif') center bottom no-repeat; padding-bottom:20px; margin-bottom:20px; }
.layerSpecific-Inner h2{ font-size:20px; color:#000; text-align:left; margin-top:35px; }
.layerSpecific-Inner p.concept-explain{ font-size:14px; color:#666; line-height:20px; font-weight:bold; margin-top:13px; padding-bottom:20px; border-bottom:2px solid #000; }
.layerSpecific-Inner ul:after{ content:''; display:block; clear:both; }
.layerSpecific-Inner ul li{ float:left; margin-left:6px; }
.layerSpecific-Inner ul li.first{ margin-left:0; }
.layerSpecific-Inner .buttonRightWrap{ margin-top:27px; }
.layerSpecific-Inner a{ margin-right:5px; text-decoration:none; }
#layerSpecific .btn-popupClose{ position:absolute; right:-20px; top:-30px; }

#layerInputFloorPlanFile{ display:none; width:544px; height:214px; background:#fff; position:absolute; left:50%; top:50%; z-index:10; padding:30px 43px 34px 25px; margin:-139px 0 0 -306px; }
.layerInputFloorPlanFile-Inner{ position:relative; }
.layerInputFloorPlanFile-Inner h1{ font-size:22px; color:#000; text-align:center; padding-bottom:20px; margin-bottom:20px; }
.layerInputFloorPlanFile-inputWrap{ margin-bottom:25px; }
.layerInputFloorPlanFile-inputWrap input[type="text"]{ width:420px; height:13px; background:#f1f1f1; border:none; padding:15px 0 16px 21px; font-size:15px; color:#bbb; }
.layerInputFloorPlanFile-inputWrap a{ display:inline-block; background:#acacac; font-size:14px; color:#fff; padding:14px 25px; vertical-align:middle; text-decoration:none; }
.layerInputFloorPlanFile-inputWrap span{ font-size:13px; color:#bbb; margin:10px 0 0 11px; display:block; }
#layerInputFloorPlanFile .btn-popupClose{ position:absolute; right:-23px; top:-10px; }

#pantoneColorPalette{ display:none; width:907px; height:427px; background:#fff; position:absolute; left:50%; top:50%; z-index:10; margin:-214px 0 0 -436px; }
.pantoneColorPalette-Inner{ position:relative; }
.pantoneColorPalette-Inner h1{ font-size:14px; color:#fff; background:#94417b; text-align:center; padding:27px 0 26px; }
#pantoneColorPalette .btn-popupCloseW{ position:absolute; right:17px; top:19px; }
.colorPaletteWrap{ position:relative;height:358px; }
.colorPaletteInner{ width:850px; line-height:358px; text-align:center; }
a.btn_colorPaletteArrowUp{ position:absolute; right:0; top:0; }
a.btn_colorPaletteArrowDown{ position:absolute; right:0; bottom:0; }

#paintingColorSelectWrap{ display:none; width:824px; height:528px; background:#fff; position:absolute; padding:50px; left:50%; top:50%; z-index:10; margin:-314px 0 0 -462px; }
#paintingColorSelectWrap .btn-popupClose{ position:absolute; right:20px; top:20px; }
.paintingColorSelectWrap__Inner{ position:relative; }
.paintingColorSelectWrap__Inner h1{ font-size:26px; color:#000; text-align:left; padding-bottom:13px; }
.paintingColorSelectWrap__Inner p.concept-explain{ font-size:14px; color:#666; font-weight:bold; }
.paintingColorSelectWrap__Inner__BoxWrap{ margin-top:32px; }
.paintingColorSelectWrap__Inner__BoxWrap:after{ content:''; display:block; clear:both; }
.paintingColorSelectWrap__Inner__ImgBox{ float:left; }
.paintingColorSelectWrap__Inner__ContentBox{ float:left; margin-left:10px; }
.paintingColorSelectWrap__Inner__ContentBox__colorPicker{ margin-bottom:10px; }
.paintingColorSelectWrap__Inner__ContentBox__colorPicker span{ width:244px; display:inline-block; font-size:14px; font-weight:bold; color:#333; padding:18px 0 18px 23px; vertical-align:middle; }
.paintingColorSelectWrap__Inner__ContentBox__colorPicker span.colorPicker01{ background:rgb(193,176,167) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.paintingColorSelectWrap__Inner__ContentBox__colorPicker span.colorPicker02{ background:rgb(229,218,209) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.paintingColorPalette-title{ background:#94417b; font-size:14px; color:#fff; font-weight:bold; padding:26px 0; text-align:center; position:relative; }
.btn_part05_more{ position:absolute; right:16px; top:21px; }
.paintingColorPalette-content{ border:2px solid #ccc; border-top:none; height:254px; position:relative; }
.paintingColorPalette-content:after{ content:''; display:block; clear:both; }
.paintingColorPalette{ text-align:center; }
a.btn_part05_ArrowUp{ display:block; position:absolute; right:0; top:0; }
a.btn_part05_ArrowDown{ display:block; position:absolute; right:0; bottom:0; }