#findIDPW-Wrap{ width:924px; padding:50px; }
#findIDPW-Wrap h1{ font-size:26px; color:#000; margin-bottom:13px; }
#findIDPW-Wrap p{ font-size:15px; color:#333; border-bottom:2px solid #191919; padding-bottom:19px; }
.findIDPW-Wrap__Inner{ margin-top:120px; }
.findIDPW-Wrap__Inner:after{ content:''; display:block; clear:both; }
.findIDPW-Wrap__Inner__ID{ width:425px; float:left; }
.findIDPW-Wrap__Inner__PW{ width:425px; float:left; margin-left:74px; }
.findIDPW-Wrap__Inner h2{ font-size:18px; color:#191919; background:url('../img/sub/common/bg_titleTop.gif') left top no-repeat; padding-top:17px; }
.findIDPW-Wrap__Inner-InputWrap{ margin:30px 0; }
.findIDPW-Wrap__Inner-InputWrap div{ margin:10px 0; }
.findIDPW-Wrap__Inner-InputWrap div label{ font-size:15px; color:#010101; width:58px; display:inline-block; font-weight:bold; }
.findIDPW-Wrap__Inner-InputWrap div input[type="text"]{ width:344px; background:#f1f1f1; border:none; font-size:15px; color:#bbb; padding:15px 0 15px 20px; }

#newRegistration-Wrap{ width:924px; padding:50px; }
#newRegistration-Wrap h1{ font-size:26px; color:#000; margin-bottom:13px; }
#newRegistration-Wrap p{ font-size:15px; color:#333; border-bottom:2px solid #191919; padding-bottom:19px; }
.newRegistration-Wrap__Inner{ margin:20px 0; }
.newRegistration-Wrap__Inner div{ margin-top:20px; }
.newRegistration-Wrap__Inner div label{ font-size:15px; color:#010101; display:inline-block; font-weight:bold; }
.newRegistration-Wrap__Inner div label.textLabel{ width:58px; }
.newRegistration-Wrap__Inner div span.between-txt{ font-size:15px; color:#010101; margin:0 10px; font-weight:bold; }
.newRegistration-Wrap__Inner div input[type="text"]{ background:#f1f1f1; border:none; font-size:15px; color:#bbb; padding:13px 0 12px 20px; }
.newRegistration-Wrap__Inner div input[type="text"].type01{ width:344px; }
.newRegistration-Wrap__Inner div input[type="text"].type02{ width:205px; }
.newRegistration-Wrap__Inner div input[type="text"].type03{ width:91.5%; }
.newRegistration-Wrap__Inner div select{ color:#aaa; margin-left:10px; }
.newRegistration-Wrap__Inner div textarea{ width:94.5%; border:none; background:#f1f1f1; margin-left:3px; padding:15px 23px; font-size:16px; }
.newRegistration-Wrap__Inner div.prettycheckbox{ margin:0 0 10px; }

#counselingList-Wrap{ width:924px; padding:50px; }
.counselingList-title:after{ content:''; display:block; clear:both; }
.counselingList-title h1{ font-size:26px; color:#000; margin-bottom:13px; float:left; }
.counselingList-SearchBox{ float:left; }
.counselingList-SearchBox span{ font-size:15px; color:#333; vertical-align:middle; }
.counselingList-SearchBox span.input-Title{ margin-left:20px; }
.counselingList-SearchBox input[type="date"]{ font-size:14px; color:#999; background:#f5f5f5; border:1px solid #ccc; height:30px; }
.counselingList-SearchBox input[type="text"]{ font-size:14px; color:#999; background:#f5f5f5; border:1px solid #ccc; height:30px; }
.counselingList-SearchBox a{ width:62px; color:#fff; font-size:14px; background:#38549d; display:inline-block; padding:8px 0 8px; text-align:center; vertical-align:middle; }
.counselingList-SearchBox select{ border:1px solid #38549d; font-size:14px; color:#38549d; margin-left:10px; }
.counselingList-table{ width:100%; margin-top:20px; border-bottom:1px solid #000; }
.counselingList-table th{ background:#888; font-size:15px; color:#fff; text-align:center; padding:20px 0; }
.counselingList-table td{ font-size:14px; color:#666; text-align:center; padding:20px 0; border-bottom:1px solid #ccc; }
.counselingList-table td a{ font-size:14px; color:#666;  }
.counselingList-table td select{ text-align:left; margin-left:10px; }
.counselingList-table tr.bg-Gray td{ background:#f5f5f5; }
.counselingList-pager{ text-align:center; margin-top:35px; position:relative; }
.counselingList-pager a{ display:inline-block; font-size:20px; color:#888; margin:0 10px; vertical-align:middle; }
.counselingList-pager a.counselingList-button{ width:162px; font-size:16px; color:#fff; background:#38549d; text-decoration:none; padding:14px 0 13px; text-align:center; position:absolute; top:-25px; right:0; }

/* 커스텀셀렉트박스 */
span.customSelect { margin-left:10px; font-size:16px; background:url("../img/sub/common/btn_customSelect.gif") no-repeat scroll right center #fff; border:2px solid #ccc; color:#aaa; padding:11px 0 15px 20px; text-indent: 0; width: 20%; }
span.customSelectOpen{ background:url("../img/sub/common/btn_customSelect-open.gif") no-repeat scroll right center #fff; }
span.customSelectInner{ font-size:15px; color:#aaa; }

span.customSelect01 { position:absolute; right:-2px; top:-2px; margin-left:10px; font-size:16px; background:url("../img/sub/common/btn_customSelect.gif") no-repeat scroll right center #fff; border:2px solid #ccc; color:#aaa; padding:11px 0 15px 20px; text-indent: 0; width: 20%; }
span.customSelect01 span.customSelectInner{ width:50px !important; }

span.customSelect02{ width:82px; border:1px solid #38549d; font-size:14px; color:#38549d; padding:5px 0 6px 5px; text-align:left; }

#counselingInfo-Wrap{ width:924px; padding:50px; }
#counselingInfo-Wrap h1{ font-size:26px; color:#000; margin-bottom:13px; }
#counselingInfo-Wrap p{ font-size:15px; color:#333; border-bottom:2px solid #191919; padding-bottom:19px; }
.counselingInfo-Wrap__Inner{ margin:20px 0; }
.counselingInfo-Wrap__Inner div{ margin-top:20px; }
.counselingInfo-Wrap__Inner div label{ font-size:15px; color:#010101; display:inline-block; font-weight:bold; }
.counselingInfo-Wrap__Inner div label.textLabel{ width:110px; }
.counselingInfo-Wrap__Inner div span.between-txt{ font-size:15px; color:#010101; margin:0 10px; font-weight:bold; }
.counselingInfo-Wrap__Inner div span.summary{ display:block; font-size:13px; color:#999; padding-top:10px; margin-left:130px; }
.counselingInfo-Wrap__Inner div input[type="text"],.counselingInfo-Wrap__Inner div input[type="password"]{ background:#f1f1f1; border:none; font-size:15px; color:#bbb; padding:13px 0 12px 20px; }
.counselingInfo-Wrap__Inner div input[type="text"].type01,.counselingInfo-Wrap__Inner div input[type="password"].type01{ width:307px; }
.counselingInfo-Wrap__Inner div input[type="text"].type02{ width:205px; }
.counselingInfo-Wrap__Inner div input[type="text"].type03{ width:91.5%; }
.counselingInfo-Wrap__Inner div select{ color:#aaa; margin-left:10px; }
.counselingInfo-Wrap__Inner .buttonRightWrap{ border-top:2px solid #acacac; padding-top:20px; }

#client_ragistration_completeWrap{ width:1024px; height:289px; background:url('../img/sub/bg_client_registration_complete.jpg') left top no-repeat; text-align:center; padding-top:479px; }
#client_ragistration_completeWrap a{ width:213px; display:inline-block; font-size:28px; color:#fff; font-weight:bold; border:3px solid #fff; text-align:center; padding:21px 0 20px; border-radius:10px; }
#client_ragistration_completeWrap a:first-child{ margin-right:21px; }

#part-concept-Wrap{ width:1024px; height:768px; }
.part-tab-wrap{ padding:0 50px; }
.part-tab-wrap ul:after{ content:''; display:block; clear:both; }
.part-tab-wrap ul li{ width:144px; float:left; margin-right:10px; border-bottom:2px solid #acacac; font-size:19px; color:#acacac; padding:18px 0 5px; }
.part-tab-wrap ul li a{ display:block;   text-decoration:none; }
.part-tab-wrap ul li.on{ background:#f23636; border-bottom:2px solid #f23636; color:#fff; }
.part-tab-wrap ul li span{ display:block; }
.part-tab-wrap ul li span.tabTitle{ font-size:14px; padding-top:2px; display:block; }
.part-tab-wrap__title-wrap{ margin-top:55px; position:relative; }
.part-tab-wrap__title-wrap h1{ font-size:26px; color:#000; }
.part-tab-wrap__title-wrap p{ font-size:15px; color:#333; padding-top:10px; }
.part-tab-wrap__title-wrap .buttonWrap{ position:absolute; right:20px; top:10px; }
.part-tab-wrap__title-wrap .buttonWrap a{ display:inline-block; margin:0 20px; }
.part-tab-wrap__title-wrap .buttonWrap span{ width:3px; height:27px; display:inline-block; background:url('../img/sub/common/ico_blackBar.gif') left center no-repeat; vertical-align:middle; }

.part-container-wrap{ margin-top:19px; }
.part-container-wrap ul:after{ content:''; display:block; clear:both; }
.part-container-wrap ul li{ float:left; margin-top:5px; margin-right: 5px; position:relative; }
.part-container-wrap ul li.mar-rightNone{ margin-right:0; }
.part-container-wrap ul li a{ display:inline-block; text-decoration:none; }
.part-container-wrap ul li div.check-hover{ display:none; position:absolute; left:0; top:0; }

.part-container-wrap__sumnailImg-wrap{ margin-top:15px; position:relative; }
.part-container-wrap__sumnailImg-wrap ul:after{ content:''; display:block; clear:both; }
.part-container-wrap__sumnailImg-wrap ul li{ float:left; }
.part-container-wrap__sumnailImg-wrap ul li a{ display:inline-block; }


.part-container-wrap__sumnailImg-wrap__link {width: 62px; float: left; text-align: center; margin:53px 0; }
.part-container-wrap__sumnailImg-wrap__rolling_area {width: 865px; float: left; overflow: hidden;}
.part-container-wrap__sumnailImg-wrap__rolling_area__roll_wraper {width: 10000px; position: relative;}


.part-container-wrap ul.part-container-wrap__conceptResult li{ background:#eee; width:200px; height:567px; text-align:center; margin-top:0; }
.part-container-wrap ul.part-container-wrap__conceptResult li h2{ padding:30px 0 20px; text-align:center; background:url('../img/sub/common/bg_titleBottom.gif') center bottom no-repeat; font-size:28px; color:#333; }
.part-container-wrap ul.part-container-wrap__conceptResult li p{ height:130px; padding:18px 18px 0 18px; font-size:14px; color:#333; line-height:22px; text-align:left; }
.part-container-wrap ul.part-container-wrap__conceptResult li a{ display:inline-block; margin-top:10px; }
.part-container-wrap ul.part-container-wrap__conceptResult li div.non-select{ display:block; position:absolute; left:0; top:0; }

ul.colorSelectConfirm-Inner{ margin:0 50px; }
.colorPicker-wrap{ overflow-y:scroll; height:107px; }
.colorPicker-Inner{ width:287px; }
.colorPicker-Inner01{ margin-bottom:3px; }
.colorPicker-Inner span{ width:179px; display:inline-block; font-size:14px; font-weight:bold; color:#333; padding:18px 0 18px 23px; vertical-align:middle; }
.colorPicker-Inner span.colorPicker01{ background:rgb(193,176,167) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.colorPicker-Inner span.colorPicker02{ background:rgb(229,218,209) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.colorPicker-Inner span.colorPicker03{ background:rgb(114,136,156) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.colorPicker-Inner span.colorPicker04{ background:rgb(174,188,197) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.colorPicker-Inner span.colorPicker05{ background:rgb(149,145,139) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.colorPicker-Inner span.colorPicker06{ background:rgb(223,220,216) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
a.btnUp{ position:absolute; right:0; top:0; }
a.btnDown{ position:absolute; right:0; bottom:0; }
.part-container-wrap .buttonRightWrap{ margin:27px 50px 0 0; }

.part-tab-wrap__title-wrap .buttonWrap a.part04-tabButton{ width:123px; text-align:center; color:#666; font-size:16px; font-weight:bold; padding:12px 0; border:3px solid #666; border-radius:10px; margin:0 5px; }
.part-tab-wrap__title-wrap .buttonWrap a.part04-tabButton:hover, .part-tab-wrap__title-wrap .buttonWrap a.part04-tabButton.on{ color:#38549d; border:3px solid #38549d; text-decoration:none; }
.part04-container-Inner{ margin:0 50px; }
.part04-container-Inner:after{ content:''; display:block; clear:both; }
.part04-container-Inner__ImgBox{ width:612px; height:513px; border:2px solid #ccc; float:left; }
.part04-container-inner__contentBox{ width:298px; margin-left:10px; float:left; }
.part04-container-inner__contentBox .buttonCenterWrap{ margin-top:30px; }
.part04-container-inner__contentBox .buttonCenterWrap a{ text-decoration:none; }
.part04-container-inner__contentBox .buttonCenterWrap .btn_Gray01{ margin-left:0; margin-right:7px; }
.part04-container-inner__contentBox__takeAreaWrap{ height:440px; overflow-y:auto; }
.part04-container-inner__contentBox__takeArea-title{ margin-bottom:2px; }
.part04-container-inner__contentBox__takeArea-title span{ display:inline-block; font-size:16px; color:#fff; font-weight:bold; text-align:center; padding:14px 0; }
.part04-container-inner__contentBox__takeArea-title span.part04-container-inner__contentBox__takeArea-title-left{ width:110px; background:#acacac; }
.part04-container-inner__contentBox__takeArea-title span.part04-container-inner__contentBox__takeArea-title-right{ width:171px; background:#858585; }
.part04-container-inner__contentBox__takeArea-content{ margin-bottom:2px; }
.part04-container-inner__contentBox__takeArea-content:after{ content:''; display:block; clear:both; }
.part04-container-inner__contentBox__takeArea-content-title{ float:left; width:110px; background:#acacac; font-size:16px; color:#fff; font-weight:bold; text-align:center; }
.part04-container-inner__contentBox__takeArea-content-title input[type="text"]{ width:108px; background:#acacac; border:none; font-size:16px; color:#fff; font-weight:bold; text-align:center; padding:10px 0; }
.part04-container-inner__contentBox__takeArea-content-numbering{ width:151px; background:#eee; text-align:left; float:left; padding-left:20px; position:relative; }
.part04-container-inner__contentBox__takeArea-content-numbering:after{ content:''; display:block; clear:both; }
.part04-container-inner__contentBox__takeArea-content-numbering span{ width:67px; text-align:center; display:inline-block; font-size:16px; color:#666; padding:10px 0; margin-left:2px; }
.part04-container-inner__contentBox__takeArea-content-numbering a.minus{ position:absolute; left:10px; top:12px; }
.part04-container-inner__contentBox__takeArea-content-numbering a.plus{ position:absolute; right:70px; top:12px; }
.part04-delButton{ display:inline-block; float:right; }
.part04-container-inner__contentBox__takeArea-addArea{ width:257px; background:#fff; border:2px solid #ccc; padding:13px 0 13px 20px; font-size:16px; color:#aaa; position:relative; }
.part04-container-inner__contentBox__takeArea-addArea.addSell-component1{ border-top:none; }
.part04-container-inner__contentBox__takeArea-addArea.addSell-component2{ border-top:none; }
.part04-container-inner__contentBox__takeArea-addArea .btn-add{ position:absolute; right:10px; top:10px; display:block;  }
.part04-container-inner__contentBox__takeArea-addArea div{ padding-bottom:5px; }
.part04-container-inner__contentBox__takeArea-addArea div a{ font-size:16px; color:#aaa; text-decoration:none; }

.part04-container-Inner__ImgBox-slide{ width:616px; float:left; }
.part04-container-Inner__ImgBox-slide-BigImg{ width:612px; border:2px solid #ccc; margin-bottom:9px; position:relative; }
.part04-container-Inner__ImgBox-slide-BigImg select{ width:145px !important; height:50px !important; position:absolute; right:-2px; top:-2px; z-index:10; color:#aaa; }
.part04-container-Inner__ImgBox-slide-SumnailImg:after{ content:''; display:block; clear:both; }
.part-container-wrap  .part04-container-Inner__ImgBox-slide-SumnailImg li{ border:2px solid #ccc; float:left; margin-right:3px; }
.part-container-wrap  .part04-container-Inner__ImgBox-slide-SumnailImg li:last-child{ margin-right:0; }
.part04-container-Inner__ImgBox-slide-SumnailImg .check-hover{ display:none; }


.paintingColorSelectWrap{ margin:0 50px; }
.paintingColorSelectWrap:after{ content:''; display:block; clear:both; }
ul.paintingColorSelectWrap__tabBtn{ float:left; }
ul.paintingColorSelectWrap__tabBtn li{ float:none; margin-left:0; }
ul.paintingColorSelectWrap__tabBtn li a{ display:block; font-size:16px; color:#fff; text-align:center; background:#acacac; padding:15px 46px; }
ul.paintingColorSelectWrap__tabBtn li a.on, ul.paintingColorSelectWrap__tabBtn li a:hover{ background:#f23636; }
.paintingColorSelectWrap__slideImg{ float:left; position:relative; width:794px; overflow:hidden; }
.paintingColorSelectWrap__slideImg ul{ width:10000px; position: relative;}
.paintingColorSelectWrap__slideImg ul:last-child{ margin-right:0; }
a.btn_part05_slidePrev{ display:block; position:absolute; left:0; top:205px; }
a.btn_part05_slideNext{ display:block; position:absolute; right:0; top:205px; }

/* 레이어팝업 */
#layerSpecific{ display:none; width:824px; height:568px; background:#fff; position:absolute; left:50%; top:50%; z-index:10; padding:50px 50px 40px 50px; margin:-329px 0 0 -462px; }
.layerSpecific-Inner{ position:relative; }
.layerSpecific-Inner h1{ font-size:30px; color:#000; text-align:center; background:url('../img/sub/common/bg_titleBottom.gif') center bottom no-repeat; padding-bottom:20px; margin-bottom:20px; }
.layerSpecific-Inner h2{ font-size:20px; color:#000; text-align:left; margin-top:35px; }
.layerSpecific-Inner p.concept-explain{ font-size:14px; color:#666; line-height:20px; font-weight:bold; margin-top:13px; padding-bottom:20px; border-bottom:2px solid #000; }
.layerSpecific-Inner ul:after{ content:''; display:block; clear:both; }
.layerSpecific-Inner ul li{ float:left; margin-left:6px; }
.layerSpecific-Inner ul li.first{ margin-left:0; }
.layerSpecific-Inner .buttonRightWrap{ margin-top:27px; }
.layerSpecific-Inner a{ margin-right:5px; text-decoration:none; }
#layerSpecific .btn-popupClose{ position:absolute; right:-20px; top:-30px; }

#layerInputFloorPlanFile{ display:none; width:544px; height:214px; background:#fff; position:absolute; left:50%; top:50%; z-index:10; padding:30px 43px 34px 25px; margin:-139px 0 0 -306px; }
.layerInputFloorPlanFile-Inner{ position:relative; }
.layerInputFloorPlanFile-Inner h1{ font-size:22px; color:#000; text-align:center; padding-bottom:20px; margin-bottom:20px; }
.layerInputFloorPlanFile-inputWrap{ margin-bottom:25px; }
.layerInputFloorPlanFile-inputWrap .filebox{ overflow:hidden; }
.layerInputFloorPlanFile-inputWrap .inpuBox{ width:406px; display:inline-block; margin-top:0; vertical-align:middle; height:13px; background:#f1f1f1; border:none; padding:16px 0 17px 21px; font-size:15px; color:#bbb; }
.layerInputFloorPlanFile-inputWrap button{ display:inline-block; background:#acacac; font-size:14px; color:#fff; padding:14px 25px; vertical-align:middle; text-decoration:none; }
.layerInputFloorPlanFile-inputWrap input[type="file"]{ position:absolute; top:-99999px; left:-999999px; }

.layerInputFloorPlanFile-inputWrap span{ font-size:13px; color:#bbb; margin:10px 0 0 11px; display:block; }
#layerInputFloorPlanFile .btn-popupClose{ position:absolute; right:-23px; top:-10px; }

#layerInputPlacePickture{ display:none; width:544px; height:590px; background:#fff; position:absolute; left:50%; top:50%; z-index:10; padding:30px 43px 30px 25px; margin:-302px 0 0 -306px; }
.layerInputPlacePickture-Inner{ position:relative; }
.layerInputPlacePickture-Inner h1{ font-size:22px; color:#000; text-align:center; padding-bottom:20px; margin-bottom:20px; }
.layerInputPlacePickture-inputWrap{ margin-bottom:25px; }
.layerInputPlacePickture-inputWrap .filebox{ overflow:hidden; }
.layerInputPlacePickture-inputWrap .inpuBox{ width:406px; display:inline-block; margin-top:0; vertical-align:middle; height:13px; background:#f1f1f1; border:none; padding:16px 0 17px 21px; font-size:15px; color:#bbb; }
.layerInputPlacePickture-inputWrap button{ display:inline-block; background:#acacac; font-size:14px; color:#fff; padding:14px 25px; vertical-align:middle; text-decoration:none; }
.layerInputPlacePickture-inputWrap input[type="file"]{ position:absolute; top:-99999px; left:-999999px; }

.layerInputPlacePickture-inputWrap span{ font-size:13px; color:#bbb; margin:10px 0 0 11px; display:block; }
#layerInputPlacePickture .btn-popupClose{ position:absolute; right:-23px; top:-10px; }

#pantoneColorPalette{ display:none; width:907px; height:427px; background:#fff; position:absolute; left:50%; top:50%; z-index:10; margin:-214px 0 0 -436px; }
.pantoneColorPalette-Inner{ position:relative; }
.pantoneColorPalette-Inner h1{ font-size:14px; color:#fff; background:#94417b; text-align:center; padding:27px 0 26px; }
#pantoneColorPalette .btn-popupCloseW{ position:absolute; right:17px; top:19px; }
.colorPaletteWrap{ position:relative;height:358px; }
.colorPaletteInner{ width:850px; }
.colorPaletteInner span{ width:16px; height:16px; display:inline-block; margin:1px 0 0 1px; }
.colorPaletteInner span.colorPaletteInner_colorCheep01{ background:rgb(239, 236, 234); }
.colorPaletteInner span.colorPaletteInner_colorCheep02{ background:rgb(240, 237, 225); }
.colorPaletteInner span.colorPaletteInner_colorCheep03{ background:rgb(239, 239, 223); }
.colorPaletteInner span.colorPaletteInner_colorCheep04{ background:rgb(241, 229, 190); }
a.btn_colorPaletteArrowUp{ position:absolute; right:0; top:0; }
a.btn_colorPaletteArrowDown{ position:absolute; right:0; bottom:0; }

#paintingColorSelectWrap-type01{ display:none; width:824px; height:528px; background:#fff; position:absolute; padding:50px; left:50%; top:50%; z-index:15; margin:-314px 0 0 -462px; }
#paintingColorSelectWrap-type01 .btn-popupClose{ position:absolute; right:20px; top:20px; }
.paintingColorSelectWrap__Inner{ position:relative; }
.paintingColorSelectWrap__Inner h1{ font-size:26px; color:#000; text-align:left; padding-bottom:13px; }
.paintingColorSelectWrap__Inner p.concept-explain{ font-size:14px; color:#666; font-weight:bold; }
.paintingColorSelectWrap__Inner__BoxWrap{ margin-top:32px; }
.paintingColorSelectWrap__Inner__BoxWrap:after{ content:''; display:block; clear:both; }
.paintingColorSelectWrap__Inner__ImgBox{ float:left; }
.paintingColorSelectWrap__Inner__ContentBox{ float:left; margin-left:10px; }
.paintingColorSelectWrap__Inner__ContentBox__colorPicker{ margin-bottom:10px; }
.paintingColorSelectWrap__Inner__ContentBox__colorPicker span.colorPicker{ width:244px; display:inline-block; font-size:14px; font-weight:bold; color:#333; padding:18px 0 18px 23px; vertical-align:middle; }
.paintingColorSelectWrap__Inner__ContentBox__colorPicker span.colorPicker01{ background:rgb(193,176,167) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.paintingColorSelectWrap__Inner__ContentBox__colorPicker span.colorPicker02{ background:rgb(229,218,209) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.paintingColorPalette-title{ background:#94417b; font-size:14px; color:#fff; font-weight:bold; padding:26px 0; text-align:center; position:relative; }
.btn_part05_more{ position:absolute; right:16px; top:21px; }
#paintingColorSelectWrap-type01 .buttonCenterWrap { margin-top:100px; }
#paintingColorSelectWrap-type01 .buttonCenterWrap a{ text-decoration:none; margin-right:7px; }
.paintingColorSelectWrap__Inner__ContentBox__colorPicker{ position:relative; }

.paintingColorPalette{ display:none; width:352px; text-align:left; position:absolute; left:0; top:52px; z-index:10; }
.paintingColorPalette-title{ background:#94417b; font-size:14px; color:#fff; font-weight:bold; padding:26px 0; text-align:center; position:relative; }
.btn_part05_more{ position:absolute; right:16px; top:21px; }
.paintingColorPalette-content{ border:2px solid #ccc; border-top:none; height:254px; background:#fff; overflow-y:scroll; }
.paintingColorPalette-content-Inner{ width:343px; }
.paintingColorPalette span{ width:16px; height:16px; display:inline-block; margin:1px 0 0 1px; }
.paintingColorPalette span.colorPaletteInner_colorCheep01{ background:rgb(239, 236, 234); }
.paintingColorPalette span.colorPaletteInner_colorCheep02{ background:rgb(240, 237, 225); }
.paintingColorPalette span.colorPaletteInner_colorCheep03{ background:rgb(239, 239, 223); }
.paintingColorPalette span.colorPaletteInner_colorCheep04{ background:rgb(241, 229, 190); }

.part05-container-inner__contentBox__takeArea-addArea .paintingColorPalette{ top:47px; left:-2px; }

.part05-container-inner__contentBox__takeArea-addArea{ background:#fff; border:2px solid #ccc; padding:13px 0 13px 20px; font-size:16px; color:#aaa; position:relative; }
.part05-container-inner__contentBox__takeArea-addArea.addSell-component1{ border-top:none; }
.part05-container-inner__contentBox__takeArea-addArea .btn-addColor{ position:absolute; right:10px; top:10px; display:block; }

#areaPictureWrap{ display:none; width:483px; height:1020px; background:#fff; position:absolute; padding:50px; left:50%; top:50%; z-index:15; margin:-200px 0 0 -292px; }
#areaPictureWrap .btn-popupClose{ position:absolute; right:20px; top:20px; }
#areaPictureWrap h1{ font-size:26px; color:#000; text-align:center; padding-bottom:13px; }
.areaPictureWrap__Inner{ height:943px; margin-top:34px; overflow-y:auto; }
.areaPictureWrap__Inner-img01{ text-align:center; }
.areaPictureWrap__Inner-img02, .areaPictureWrap__Inner-img03{ text-align:center; margin-top:20px; }

#sendEmailWrap{ display:none; width:838px; height:1420px; background:#fff; position:absolute; padding:50px; left:50%; top:50%; z-index:15; margin:-210px 0 0 -459px; }
#sendEmailWrap .btn-popupClose{ position:absolute; right:20px; top:20px; }
#sendEmailWrap h1{ font-size:26px; color:#000; text-align:center; padding-bottom:13px; }
.sendEmailWrap__Inner{ width:724px; height:1283px; margin:34px auto 0 auto; }
.sendEmailWrap__Inner ul:after{ content:''; display:block; clear:both; }
.sendEmailWrap__Inner ul li{ float:left; margin-right:5px; }
.sendEmailWrap__Inner ul li.sendEmailWrap__Inner-img03{ margin-right:0; }
.sendEmailWrap__Inner__Explain{ margin:25px 0 49px; }
.sendEmailWrap__Inner__Explain h2{ font-size:20px; color:#000; }
.sendEmailWrap__Inner__Explain p{ font-size:14px; color:#666; margin-top:10px; line-height:23px; }
.sendEmailWrap__Inner__AreaPaper{ border:1px solid #ccc; border-top:2px solid #000; }
.sendEmailWrap__Inner__AreaSelectColorWrap{ margin-top:50px; }
.sendEmailWrap__Inner__AreaSelectColorWrap:after{ content:''; display:block; clear:both; }
.sendEmailWrap__Inner__AreaSelectColor{ width:241px; float:left; }
.sendEmailWrap__Inner__AreaSelectColor01-color, .sendEmailWrap__Inner__AreaSelectColor02-color, .sendEmailWrap__Inner__AreaSelectColor03-color{ display:block; font-size:14px; color:#333; background:url('../img/sub/common/ico_bar.gif') 10px center no-repeat; padding:15px 0 15px 23px; }
.sendEmailWrap__Inner__AreaSelectColor01-color01{ background:rgb(193, 176, 167) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.sendEmailWrap__Inner__AreaSelectColor01-color02{ background:rgb(229, 218, 209) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.sendEmailWrap__Inner__AreaSelectColor01-color03{ background:rgb(193, 176, 167) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.sendEmailWrap__Inner__AreaSelectColor01-color04{ background:rgb(229, 218, 209) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.sendEmailWrap__Inner__AreaSelectColor02-color01{ background:rgb(114, 136, 156) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.sendEmailWrap__Inner__AreaSelectColor02-color02{ background:rgb(174, 188, 197) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.sendEmailWrap__Inner__AreaSelectColor02-color03{ background:rgb(114, 136, 156) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.sendEmailWrap__Inner__AreaSelectColor02-color04{ background:rgb(174, 188, 197) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.sendEmailWrap__Inner__AreaSelectColor03-color01{ background:rgb(149, 145, 139) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.sendEmailWrap__Inner__AreaSelectColor03-color02{ background:rgb(223, 220, 216) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.sendEmailWrap__Inner__AreaSelectColor03-color03{ background:rgb(149, 145, 139) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.sendEmailWrap__Inner__AreaSelectColor03-color04{ background:rgb(223, 220, 216) url('../img/sub/common/ico_bar.gif') 10px center no-repeat; }
.sendEmailWrap__Inner .buttonCenterWrap{ margin-top:30px; }
.sendEmailWrap__Inner .buttonCenterWrap .btn_Gray03{ margin-right:7px; }